.snippets__list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 5px;
	border-radius: 10px;
	gap: 20px;
	cursor: pointer;
}

.snippets__image {
	object-fit: contain;
	width: 100%;
}

.snippets__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
}

.snippets__snippet-title {
	margin: 0;
	font-size: 22px;
	line-height: 26px;
}

.snippets__author {
	margin: 0;
	font-size: 18px;
	line-height: 20px;
}
